

	<p id="notice"><%= notice %></p>

	<h1>
	  <!--<strong>Title:</strong>-->
	  <%= @homework.title %>
	</h1>

	<h3>
	  <!--<strong>Question:</strong>-->
	  <%= @homework.question %>
	</h3>
	<br/>
	<p>
	  <strong>Duedate:</strong>
	  <%= @homework.duedate %>
	</p>

<%= form_for(@homework,:url=>assigned_homework_path(@homework), :html => {:id => "myForm"})   do |f| %>
	<input type="hidden" name="homeworkid" value="<%=@homework.id%>"/>
	<input type="hidden" name="studentidlist" id="studentidlist"  />

	<table class="table table-striped" id="users">
		<thead>
			<tr>
				<th>Student Name</th>
				<th>User Name</th>
				<th>Select</th>
			</tr>
		</thead>
		<tbody>
			<!-- get the fist name and last name on one row. Get the username on same row another column. checkbox is last column-->
			<% @users.each do |u| %>
				<tr data-userid="<%=u.id%>" >
					<td class="User"><%= u.firstname%> <%=u.lastname%></td>
					<td class="user_name"><%= u.username %></td>
					<% userIdList = @assignments.pluck(:user_id) %>
				
					<% if userIdList.include?(u.id) %>
						<td><input type="checkbox" name="isAssigned" checked="checked" class="student_checkbox"></td>
						
					<% else %>
						<td><input type="checkbox" name="isAssigned" class="student_checkbox" ></td>
					<% end %>
				</tr>

			<% end %>
		</tbody>
	</table>


	<hr/>
	<div>
	  	<button id="btnAssign" value="Assign" type="button submit" class="btn btn-success">Assign</button>
		<!--<input type="submit" id="btnAssign" value="Assign"/>-->
	</div>
	<hr/>


	<%= link_to 'Edit', edit_homework_path(@homework) %> |
	<%= link_to 'Back', homeworks_path %>

<% end %>
