<p id="notice"><%= notice %></p>

<h1>Listing Homeworks</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Question</th>
      <th>Duedate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td>
          <% if current_user.student? %>
            <% if homework.is_due_date_passed? %>
              <%= homework.title %>
            <% else %>
              <a href="<%=new_answer_path(homework.id) %>" ><%= homework.title %></a>
            <% end %>
          <% else %>
            <a href="<%=show_answers_path(homework.id) %>" ><%= homework.title %></a>
          <% end %>
        </td>
        <td><%= homework.question %></td>
        <td><%= homework.duedate %></td>
        <td><%= link_to 'Show', homework %></td>


        <% if !current_user.student? %>
          <td><%= link_to 'Assign', assign_homework_path(homework) %></td>
          <td><%= link_to 'Edit', edit_homework_path(homework) %></td>
          <td><%= link_to 'Delete', homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if !current_user.student? %>
  <%= link_to 'New Homework', new_homework_path, :class => 'btn btn-large btn-primary' , :id => 'new_hw_btn' %>
<%end%>